<div class="p2 bg-white border rounded my2 mx-auto sign-in">
  <%= form_tag login_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %><br><br>

  <%= label_tag :password %>
  <%= password_field_tag :password %><br><br>

  <%= submit_tag "Sign in" %>
  <% end %>
</div>
