<div class="p2 bg-white border rounded my2 mx-auto index-filter">
  Select from options below to view stations by Colorado Watershed (HUC 8-digit)<br><br>
  <%= form_tag("/stations", method: "get") do %>
    <%= select_tag(:huc_code, options_for_select(@co_watershed_hucs)) %><br><br>

    <%= submit_tag("Find Stations") %>
  <% end %>
</div>

<% unless @stations.nil? %>
  <div class="p2 bg-white border rounded my2 mx-auto filter-results">
      Displaying <%= @stations.count %> stations in table below
  </div>

  <div class='stations-index-table-container'>
    <table>
      <thead class=stations-index-table-header>
        <tr>
          <th>Station ID</th> <th>Name</th> <th>Type</th> <th>Description</th> <th>Latitude</th> <th>Longitude</th> <th>Drainage Area</th>
        </tr>
      </thead>
      <tbody class="stations-index-table-body">
        <% @stations.each do |station| %>
          <tr>
            <td align="center"><%= link_to station.id, station_path(station.id) %></td>
            <td align="center"><%= station.name %></td>
            <% unless station.class == Station %>
              <td align="center"><%= station.type_of %></td>
            <% end %>
            <% unless station.class == StreamStation %>
              <td align="center"><%= station.type %></td>
            <% end %>
            <td class="station-description" align="center"><%= station.description %></td>
            <td align="center"><%= station.latitude %></td>
            <td align="center"><%= station.longitude %></td>
            <td align="center">&nbsp;&nbsp;<%= station.drainage_area %><%= station.drainage_area_units %>&nbsp;&nbsp;</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
