<%= render partial: 'layouts/banner_3' %>

<div class="p2 bg-white border rounded my2 mx-auto station-show-info">
  <div>
    Station ID: <%= @station.org_id %><br><br>
    Type: <%= @station.type_of %><br><br>
    Name: <%= @station.name %><br><br>
    Description: <%= @station.description %><br><br>
    Coordinates: <%= @station.latitude %>, <%= @station.longitude %><br><br>
    Drainage Area: <%= @station.drainage_area %> <%= @station.drainage_area_units %>.
  </div>
<div>

<div class="p2 bg-white border rounded my2 mx-auto streamflow-container">
  <div class="chart-title">
    Stream Discharge(cfs) in Past 24 Hours
  </div>
  <canvas id="myChart" width="1600" height="900"></canvas>
</div>

<script>
$("streamflow-container").hide();

var station_id = `${5<%= @station.org_id.split("-")[1] %>}`;

$(document).ready(function(){
  fetch(`/api/v1/streamflow?station_id=${station_id.substr(0-8)}`)
    .then((response) => response.json())
    .then((streamflow) => {
      var time = streamflow.time.map(function(time) {
        return new Date(time.split(" ")[0],
                        time.split(" ")[1] - 1,
                        time.split(" ")[2],
                        time.split(" ")[3],
                        time.split(" ")[4])
      }).sort();
      var ctx = document.getElementById("myChart");
      $("streamflow-container").show();
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: time,
          datasets: [
            {
              data: streamflow.discharge,
              label: "Discharge",
              borderColor: "#3e95cd",
              fill: false,
              backgroundColor: 'rgb(106, 157, 164)',
              borderColor: 'rgb(9, 23, 74)',
            }
          ]
        },
        options : {
         scales: {
           yAxes: [{
             scaleLabel: {
               display: true,
               labelString: 'Discharge (cfs)'
             }
           }],
           xAxes: [{
             bounds: 'ticks',
             type: 'time',
             time: {
                    displayFormats: {
                      hour: 'MMM D, h:mm a'
                  }
             },
             distribution: 'linear',
             scaleLabel: {
               display: true,
               labelString: 'Time',
               unit: 'hour'
             }
           }],
         }
       }
      });
    })
  })
</script>
