<%= render partial: 'layouts/banner_1' %>
<%= render partial: 'layouts/unlogged_navbar' %>

<div class="p2 bg-white border my2 mx-auto sign-in register-form">
  <%= form_for(@user) do |f| %>
    <h3>Sign up below to begin finding stations</h3>

    <div class="session-entry">
      <p class='register-labels'>First Name</p>
      <%= f.text_field :first_name, class: 'sign-in-input' %>
    </div><br><br>

    <div class="session-entry">
      <p class='register-labels'>Last Name</p>
      <%= f.text_field :last_name, class: 'sign-in-input' %>
    </div><br><br>

    <div class="session-entry">
      <p class='register-labels'>Email</p>
      <%= f.email_field :email, class: 'sign-in-input' %>
    </div><br><br>

    <div class="session-entry">
      <p class='register-labels'>Password</p>
      <%= f.password_field :password, class: 'sign-in-input' %>
    </div><br><br>

    <div class="session-entry">
      <p class='register-labels'>Password confirmation</p>
      <%= f.password_field :password_confirmation, class: 'sign-in-input' %>
    </div><br><br><br><br>

    <div class="sign-in-button">
      <%= f.submit "Sign up", class: 'register'%>
    </div>
  <% end %>
</div>
