<div class="p2 bg-white border rounded my2 mx-auto sign-up">
  <%= form_for(@user) do |f| %>
    <div class="new-user-entry">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div><br>

    <div class="new-user-entry">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div><br>

    <div class="new-user-entry">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div><br>

    <div class="new-user-entry">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div><br>

    <div class="new-user-entry">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div><br>

    <div class="sign-in-button">
      <%= f.submit "Sign up"%>
    </div>
  <% end %>
</div>
