<%= render partial: 'layouts/banner_1' %>
<%= render partial: 'layouts/navbar' %>

<div class="p2 bg-white border rounded my2 mx-auto sign-in edit">
  <%= form_for @project do |f| %>
    <h3>Edit <%= @project.name %>: </h3>

    <div class="edit-entry">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div><br>

    <div class="edit-entry">
      <%= f.label :huc %>
      <%= f.text_field :huc %>
    </div><br>

    <div class="sign-in-button">
      <%= f.submit 'Update Project', class: 'register' %>
    </div>
  <% end %>
</div>
