<%= render partial: 'layouts/banner_3' %>

<div class="p2 bg-white border rounded my2 mx-auto edit-project">
  <%= form_for @project do |f| %>
    <div class="session-entry">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div><br>

    <div class="session-entry">
      <%= f.label :huc %>
      <%= f.text_field :huc %>
    </div><br>

    <div class="sign-in-button">
      <%= f.submit %>
    </div>
  <% end %>
</div>
