<!DOCTYPE html>
<html>
  <head>
    <title>StreamFinder</title>
    <%= csrf_meta_tags %>
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet" >
    <link href="https://unpkg.com/basscss-responsive-margin@1.1.0/css/responsive-margin.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet'/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% unless flash.empty? %>
      <div class="flash-container border rounded">
        <div class="flash" >
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg.html_safe, class: name %>
          <% end %>
        </div>
      </div>
    <% end %>

    <!-- <%= render partial: 'layouts/navbar' if current_user %> -->

    <%= yield %>
  </body>
</html>
